@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: rgba(229, 233, 255, 0.519);
  height: 100px;
  width: 300px;
  margin: .5em;
  padding: .5em;
}

#container-event-history {
  position: absolute;
  top: 0;
  right: 0;
  height: 40vh;
  overflow-y: auto;
  overscroll-behavior: none;
}

#list-event-history {
  list-style-type: none;
  position: absolute;
  bottom: 0;
}

#container-event-info {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40vh;
}